body {
    background-color: #adadad;
    font-family: sans-serif;
}

#stuff {
    width: 100%;
    height: 80%;
    border: none;
}

#footer {
    font-size: 2em;
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
}

#current {
    font-size: 1em;
    color:blue;
}